
.sod{
text-align: left;
    padding: 5px 5px 0px 2px;
}
.pos{
margin-left:800px!important;
}
.fa-bars{
  font-size:40px!important;
  color: rgb(130, 140, 190)!important;
}
.fa-bars:hover{
  font-size:40px!important;
  color: rgb(167, 174, 207)!important;
}
.fa-bars{
  font-size:40px!important;
}
nav{
  background-color: #213578 !important;
}
.ndis{
  color: rgb(255, 255, 255)!important;
}
.re{
  margin: 0 -15px 0 0;
}
.ac{
  color: rgb(168, 176, 207)!important;
}
.ndis:hover{
  color: rgb(110, 128, 255)!important;
}
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* Footer */
footer{
  background-color: #343d71 !important ;
}
footer p{
    color: rgb(165, 166, 212);
}
footer h3{
    color: #ddddec !important;
}
.footer-top { padding: 60px 0 40px 0; text-align: left; }
.footer-top h3 { padding-bottom: 10px; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #ddd; }
.footer-contact p a { border-bottom: 1px dashed #ccc; }
.footer-contact p a:hover, .footer-contact p a:focus { border-bottom: 1px dashed #856dc0; }

.footer-links a { color: #9f9797; border: 0; }
.footer-links a:hover, .footer-links a:focus { color: #e2dcdc; margin-left: 3px; }

.footer-bottom { padding: 0 0 60px 0; }

.footer-social a { margin: 0 10px; color: #bbb; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #856dc0; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

/* Общие стили  */
h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6
{
    margin-bottom: 1.1em;
}
/* Навбар */
.navbar-brad img {
  width: 85px;
}
.navbar-nav li {
  padding-right: 20px;
}
html , body{
  width:100%;
  height:100%;
   -webkit-font-smoothing: antialiased;

}
.header-bg h1{
  font-family: Gyosho;
  	font-size: 15vw;
	line-height: 13vw;
	font-weight: 100;
	color: #ffffff;
	text-align: center;
}

.tecc{
  font-size: 3vw;
  color: #d1d1d1;
font-weight: 400;
}

#sec h1{
  padding-top: 35px;
}
.txt{
  font-size:18px;
}
.font{
  font-weight: 400;
  font-size: 35px;
}
.b1{
  width:
  height:50%;
  min-height: 30px;
}
.no-padding {
	padding: 0 !important;
}
#grid2{
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
grid-auto-rows:minmax(150px,auto);
grid-gap: 10px;
margin: 40px 40px;
padding:5px;
 background-color: white;
 max-width: 100%;
 max-height: 80vh;

 grid-template-areas:
 "five five"
"four four"
;}
@media screen and (min-width:769px){
  #grid2{
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
  grid-auto-rows:minmax(150px,auto);
  grid-gap: 10px;
  margin: 40px 40px;
  padding:5px;
   background-color: white;
   max-width: 100%;
   max-height: 80vh;

   grid-template-areas:
   "four five"
  "four five"
  ;}}
.txt{
  grid-area: four;
  font-size:18px;
}
.tat{
  grid-column: 2/4;
  grid-area:five;
  background-image: url(../images/img1.jpg);
}
.font{
  font-weight: 400;
  font-size: 35px;
}
/* 3я секция */
@media screen and (max-width:899px){
#grid{
  text-align: center;
  display: grid;
  grid-template-columns:repeat(3,minmax(150px,auto));
grid-auto-rows:minmax(150px,auto);
grid-gap: 10px;
margin: 0px 40px;
padding:5px;
 background-color: white;
 max-width: 100%;
 max-height: 80vh;
justify-content:center;
}
.one{
  background-image: url(../images/s1.jpg);
  grid-area: one;
  display:none;
}
.two{
    background-image: url(../images/s2.jpg);
  grid-area: two;
  display:none;
}
.three{
    background-image: url(../images/s3.jpg);
  grid-area: three;
display:none;}
.fok{
display:none;
}

}
@media screen and (min-width:900px){
#grid{
  text-align: center;
  display: grid;
  grid-template-columns:repeat(3,minmax(150px,auto));
grid-auto-rows:minmax(150px,auto);
grid-gap: 10px;
margin: 0px 40px;
padding:5px;
 background-color: white;
 max-width: 100%;
 max-height: 80vh;
 grid-template-areas:
 "one two three"
"one two three"

;}
}
.g{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.one{
  background-image: url(../images/s1.jpg);
  grid-area: one;
}
.two{
    background-image: url(../images/s2.jpg);
  grid-area: two;
}
.three{
    background-image: url(../images/s3.jpg);
  grid-area: three;
}
/* INDEX3 */
@media screen and (min-width:375px){
  .img1{
  height: 450px;
  padding:0px 0px 0 28px;
  }
  .img2{
  padding:20px 0 0 53px;
  height: 350px;
  }
  .img3{
    padding:0 0 0 36px;
  height: 413px;
  margin: 30px 0 30px 0;
  }
  .img4{
    padding:20px 0 0 26px;
  height: 254px;
  }

  .img5{
    padding:5px 0 0 40px;
  height: 183px;
  }
  .img6{
  height: 223px;
  padding: 0px 0 0 24px;
}
br{
  display: none;
}
}
@media screen and (min-width:320px){
  .img1{
  height: 408px;
  }
  .img2{
  padding:20px 0 0 25px;
  height: 350px;
  }
  .img3{
    padding:0 0 0 8px;
  height: 413px;
  margin: 30px 0 30px 0;
  }
  .img4{
    padding:20px 0 0 0;
  height: 254px;
  }

  .img5{
    padding:5px 0 0 15px;
  height: 183px;
  }
  .img6{
  height: 193px;
}
br{
  display: none;
}
}
@media screen and (min-width:2440px){
.img1{
height: 450px;
padding:60px 0 0 25px;
}
.img2{
padding:20px 0 0 25px;
height: 350px;
}
.img3{
  padding:50px 0 0 25px;
height: 550px;
margin: 30px 0 0 0;
}
.img4{
  padding:20px 0 0 0;
height: 350px;
}
.img5{
  padding:5px 0 0 15px;
height: 280px;
}
.img6{
  padding:0 0 0 25px;
height: 350px;
margin: 30px 0 0 0;
}}
/* 3я секция */
/* .s1{
  text-align:center;
	padding:20px;
	width:340px;
	margin: 0 auto;
	border:30px solid transparent;
	border-image:url(images/s1.jpg) 30 30 round;
}
.s2{
  text-align:center;
	padding:20px;
	width:340px;
	margin: 0 auto;
	border:100px solid rgb(72, 75, 65);
	border-image:url(images/s1.jpg) 30 30 round;
}
.s3{
  text-align:center;
	padding:20px;
	width:340px;
	margin: 0 auto;
	border:100px solid rgb(72, 75, 65);
	border-image:url(images/s1.jpg) 30 30 round;
} */
/* #news{
  padding-top: 3.3em;
  padding-bottom: 4.2em;
} */
#countries{
  background-color:#4c71c3;
}
/* КНОПОЧКА */

/* Конпочка */























































  @font-face {
  // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
  font-family: "Gyosho";
  // адрес шрифта и тип
  src: url("../fonts/Gyosho.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  }
